/*
    Color Codes in Hex
        Brown-Orange:  #B36B39;
        Light Grey: #D7E0E7
        Green: #807F3C
        BlueGray: #96ABB0
        DarkGrey:  #46433E
 */

body{
    background-color:  #D7E0E7;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}
.item{
  align-items: center;
  background-color: #B36B39;
  margin: 50px;
  padding: 10px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p{
  color: white;
  text-align: center;
}
