@font-face{
  font-family: 'lakeshore';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/LAKESHOR-webfont.woff') format('woff'),
        url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
        url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
}
@font-face{
  font-family: 'airstreamregular';
  font-style: normal;
  font-weight: lighter;
  src: url('fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Airstream-webfont.woff') format('woff'),
        url('fonts/Airstream-webfont.ttf') format('truetype'),
        url('fonts/Airstream-webfont.svg#lakeshore') format('svg');
}
html, body{
  height:100%;
}
body{
  background-color:  #D7E0E7;
  /* background-color: #B36B39; */
  font-size: 1.5em;
}
ul{
  flex: 0 1 auto;
  height: 100%;
}
.container{
  background:#D7E0E7;
  margin-top: 1.5em;
  text-align: center;
}

@media all and (min-width: 768px){
  html, body{
  height:100%;
}

}
