h1 {
  background-color: #807F3C;
  border-bottom: black 1px;
  border-style: solid;
  color: white;
  padding: 0 10px 0 10px;
  text-align: center;
  /* text-shadow: 3px 2px navy; */
}

.container {
  /* background-color:#B36B39; */
  background-color: #D7E0E7;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: 100px;
  padding: 25px 25px 25px 50px;
  /* width: 500px; */
}

.register-fields {
  flex-wrap: wrap;
}

ul li {
  list-style: none;
  margin-bottom: 1em;
  margin-top: 1em;
}

.register-fields {
  opacity: 1;
}

html, body {
  height: 100%;
  width: auto;
}

body {
  background-color: #B36B39;
  background-image: url("/animals/register.jpg");
  background-repeat: repeat;
}

/*
    Color Codes in Hex
        Brown-Orange:  #B36B39;
        Light Grey: #D7E0E7
        Green: #807F3C
        BlueGray: #96ABB0
        DarkGrey:  #46433E
 */
