@font-face{
  font-family: 'lakeshore';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/LAKESHOR-webfont.woff') format('woff'),
        url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
        url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
}
@font-face{
  font-family: 'airstreamregular';
  font-style: normal;
  font-weight: lighter;
  src: url('fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Airstream-webfont.woff') format('woff'),
        url('fonts/Airstream-webfont.ttf') format('truetype'),
        url('fonts/Airstream-webfont.svg#lakeshore') format('svg');
}
html, body{
  height:100%;
}
body{
  /* background-color:  #D7E0E7; */
  background-color: #B36B39;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
form{
  /* background-color: white; */
  font-family: veranda;
  font-size: 16px;
}
.login-header{
  background-color: #807F3C;
  color: white;
  font-family: airstreamregular;
  font-size: 75px;
  text-align: center;

}
.container{
  background:#D7E0E7;
  margin-top: 1.5em;
  text-align: center;
}
/* .submit-button{

} */
.mainh-text{
  font-family: lakeshore;
}





@media all and (min-width: 768px){
  html, body{
  height:100%;
}

/* body{
  /* background: rgb(255, 242, 222); */
  /* display: flex;
  flex-direction: column;
  font-size: 10px;
}

  .main-content{
    flex-direction: row;
    overflow: hidden;
  }
  .thumbnail-list{
    flex-direction: column;
    margin-left: 20px;
    order: 0;

    padding: 0 35px;
  }
  .thumbnail-item{
    max-width: 260px;
  }
  .thumbnail-item +.thumbnail-item{
    margin-top: 20px;
  } */
/* } */
}
